@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "Montserrat", serif;
  line-height: 1.5;
  box-sizing: border-box;
  
}


body {
  margin: 0;
  min-height: 100vh;
  background-color: #e5e7eb;
  box-sizing: border-box;
  font-family: "Montserrat", serif;;
  /* background: url(../src/assets/circuit.png); */
  background-repeat: no-repeat;
  background-size:contain;
  color: white;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", serif;;
  color: white;
}

::-webkit-scrollbar {
  width: 4px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136); 
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #585858; 
}
